@import "variables";

html {
  background: #464646;
}

[hidden] {
  display: none;
}

@import "header";

body {
  max-width: 21cm;
  min-height: 29.68cm;
  margin: 0 auto;
  background: $background;
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.5);
  font-family: $default-font;

  .App {
    display: flex;
    flex-direction: column;
    min-height: 29.68cm;
  }

  h3 {
    margin-block-end: 0.3em;
    font-weight: 900;
  }

  h4 {
    margin-block: 0;
    color: #464646;
    font-size: 75%;
  }

  a {
    color: inherit;
  }

  .panelContainer {
    flex: 1 1 auto; /* element grows to fill remaining space */
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    column-gap: 10px;
    padding: 0 $spacing 0 $spacing;

    &.withoutPicture {
      .smallPanel,
      .largePanel {
        margin-top: 4px;
      }
    }

    .largePanel,
    .smallPanel {
      display: flex;
      flex-direction: column;
      row-gap: 10px;
      padding-bottom: 10px;
    }

    .largePanel {
      flex: $right-column;
      margin-top: 4px;
      min-width: 420px;

      p {
        line-height: 1.5em;
      }
    }

    .smallPanel {
      flex: $left-column;
      margin-top: 106px;
      min-width: 200px;
      border-radius: $border-radius;
      //padding-bottom: 10px;

      & > section {
        background: lighten($header-background, 50);
        padding-bottom: 5px;
      }
    }
  }
}

@media screen and (max-width: 800px) {
  body .largePanel {
    width: 100%;
    float: none;
    padding-right: 0;
  }

  body .smallPanel {
    width: 100%;
    float: none;
    padding-left: 0;
  }
}

@media screen and (max-width: 775px) {
  section h2 {
    font-size: 100%;
  }

  .smallPanel,
  .largePanel {
    margin-top: 5px !important;

    .contact {
      flex-grow: 0;
    }
  }
}

@media screen and (max-width: 550px) {
  .namePanel p {
    font-size: 75%;
  }

  .smallPanel,
  .largePanel {
    min-width: 100% !important;
  }
}

section {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  row-gap: 10px;
  flex-grow: 1;

  &.formation {
    flex-grow: 0.3;
  }

  //justify-content: space-around;
  border-radius: $border-radius;

  & > *:not(h2) {
    padding: 0 5px;
  }

  h2,
  h3,
  p {
    margin-block: 0;
  }

  .accessLink {
    display: flex;
    align-items: center;
    column-gap: 10px;
    text-decoration: none;
  }

  h2 {
    display: flex;
    column-gap: 10px;
    color: $accent-color;
    background: $gradient-background;
    border-radius: $border-radius;
    padding: 5px 10px;
    text-shadow: 0 0 1px rgba(255, 255, 255, 0.5);
    height: fit-content;

    a .icon {
      height: 16px;
    }
  }

  & > div {
    display: flex;
    flex-direction: column;
    row-gap: 5px;

    h3 {
      margin-block: 0;
      color: $header-background;
      text-decoration: underline;

      .accessLink {
        column-gap: 5px;

        .icon {
          height: 12px;
        }
      }
    }

    h4 {
      font-size: 0.9em;
      margin-block-end: 0.5em;
    }

    ul {
      display: flex;
      flex-direction: column;
      row-gap: 5px;
      margin-block: 0;
      padding-inline-start: 20px;
      list-style-type: circle;
    }
  }
}

p > .icon {
  margin-right: 10px;
}

.icon {
  display: inline-block;
  height: 100%;
  aspect-ratio: 1;
  vertical-align: top;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;

  &.inverted {
    // make it glow
    filter: invert(1) drop-shadow(0 0 1px rgba(255, 255, 255, 0.5));
  }

  &.formation-icon {
    background-image: url(/resume/static/college.png);
  }

  &.experience-icon {
    background-image: url(/resume/static/mallette.png);
  }

  &.contact-icon {
    background-image: url(/resume/static/livre-de-contact.png);
  }

  &.skill-icon {
    background-image: url(/resume/static/competence.png);
  }

  &.language-icon {
    background-image: url(/resume/static/langue.png);
  }

  &.hobby-icon {
    background-image: url(/resume/static/telescope.png);
  }

  &.access-icon {
    background-image: url(/resume/static/access.png);
  }
}
