@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Kanit:wght@300;400&family=Roboto:wght@400;700;900&display=swap");

$default-font: "Verdana", sans-serif;

$border-radius: 5px;
$spacing: 5px;
$left-column: 1;
$right-column: 2;

// red is for french
//$header-background: hsl(0, 50%, 50%);
// lavender is for english
$background: hsl(0, 0%, 100%);
$header-background: hsl(233, 13%, 25%);

$accent-color: rgb(255, 255, 255);
$gradient-background: linear-gradient(
  90deg,
  $header-background,
  darken($header-background, 10)
);
$section-background: #cacaca;
